<div class="question-index">
<% @posts.each do |post| %>
  <div class="posts">
    <div class="comment-count">
      <div class="count">0</div>
      <div class="comment">comments</div>
    </div>
    <div class="post">
      <div class="title_name">
        <div class="post-title">
          <%= link_to post.title, post_path(post.id) %>
        </div>
        <div class="post-name">
          <%= post.name %>
        </div>
      </div>
      <div class="post-content">
        <%= post.text %>
      </div>
    </div>
  </div>
<% end %>
</div>
